<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bccintern3">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCCIntern2">
        <service
            android:name=".nonactivity_invisiblefunction.FbMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".activity_splashscreen.SplashScreen"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_home.HomeActivity"/>
        <activity android:name=".activity_signup.SignUpActivity"/>
        <activity android:name=".activity_login.LoginActivity"/>
        <activity android:name="com.example.bccintern2.firsttime.OnboardActivity"/>
        <activity android:name="com.example.bccintern2.home.EditProfileActivity"/>
        <activity android:name=".activity_chat.ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="CHAT_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".dummyactivity_payment.DummyPaymentActivity"/>
        <activity android:name=".dummyactivity_paymentkonfirmasi.DummyPaymentKonfirmasiActivity"/>
        <activity android:name=".activity_hubungikami.HubungiKamiActivity"/>
        <activity android:name=".dummyactivity_riwayatorder.DummyRiwayatOrderActivity"/>
        <activity android:name=".dummyactivity_riwayatorder.DummyRiwayatOrderDetailActivity"/>
    </application>

</manifest>